{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") }}
{{ range $paginator.Pages }}

<article class="post-card post">
  {{if .Params.image}}
  <a class="post-card-image-link" href="{{ .Permalink }}">
    <div class="post-card-image" style="background-image: url({{.Params.image | absURL}})"></div>
  </a>
  {{else}}
  <a class="post-card-image-link" href="{{ .Permalink }}">
    <div class="post-card-image" style="background-image: url({{$.Site.BaseURL}}/scouts-logo-1.jpg)"></div>
  </a>
  {{end}}

  <div class="post-card-content">
    <a class="post-card-content-link" href="{{ .Permalink }}">
      <header class="post-card-header">
        {{ if .Params.tags }}
        {{ if eq (index .Params.tags 0) "awards" }}
        <h2 class="post-card-title">{{.Params.subtitle}}</h2>
        <h1 class="post-card-title">{{.Title}}</h1>
        {{ else if eq (index .Params.tags 0) "more" }}
        <h1 class="post-card-title">{{.Params.subtitle}}</h1>
        {{ else }}
        <h2 class="post-card-title">{{.Title}}</h2>
        <h1 class="post-card-title">{{.Params.subtitle}}</h1>
        {{ end }}
        {{ else }}
        <h2 class="post-card-title">{{.Title}}</h2>
        <h1 class="post-card-title">{{.Params.subtitle}}</h1>
        {{ end }}
      </header>
    </a>

    <footer class="post-card-meta">
      <!-- <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}"
        alt="Author" /> -->
      {{ if .Params.clickable }}
      <span class="post-card-author"><a href="{{ .Permalink }}">Click to open</a></span>
      {{ else }}
      <span class="post-card-author"><a style="color: #DE4533;" href="{{ .Permalink }}">Not available
          online</a></span>
      {{ end }}
    </footer>
  </div>
</article>
{{ end }}